<template name="signup">
  <h1 class="page-header">Sign Up</h1>
  <form id="signup" class="signup">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" name="firstName" class="form-control" placeholder="First Name">
            </div> 
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" name="lastName" class="form-control" placeholder="Last Name">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <div class="input-group username">
            <div class="input-group-addon">@</div>
            <input type="text" class="form-control" name="username" placeholder="username">
          </div>
        </div>
        <div class="form-group">
          <label for="emailAddress">Email Address</label>
          <input type="email" name="emailAddress" class="form-control" placeholder="Email Address">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="row">
          <div class="col-xs-10">
            <div class="form-group">
              <label for="location">Location</label>
              <input type="text" name="location" class="form-control" placeholder="Location">
            </div>
          </div>
        </div> 
        <div class="row"> 
          <div class="col-xs-4">
            <div class="form-group">
              <label for="age">Age</label>
              <input type="number" name="age" class="form-control" placeholder="Age">
            </div>
          </div>        
          <div class="col-xs-6">
            <div class="form-group">
              <label for="occupation">Occupation</label>
              <input type="text" name="occupation" class="form-control" placeholder="Occupation">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-10">
            <div class="form-group">
              <label for="bio">Bio</label>
              <textarea class="form-control" name="bio" cols="40" rows="5"
              placeholder="Tell others a little about yourself."></textarea>
            </div>
          </div>
        </div> 
      </div> 
    </div>

    <div class="row">
      <div class="col-xs-6"> 
        <h3>Beliefs & Positions</h3> 
        <span>To help provide you with better matches, tell us about your stances on these topics.</span> 
        <hr>      
        <div class="form-group">
          <label for="belief-1-value">ABORTION</label>
          <div>
            <div style="float: left">Pro-Choice</div>
            <div style="float: right">Pro-Life</div>
          </div>
          <input name = "belief-1-value" type="range" min="0" max="10" step="1">
        </div>
        <div class="form-group">
          <label for="belief-1-response">Under what circumstances do you feel that abortion would be acceptable or not, and why?</label>
          <textarea class="form-control" name="belief-1-response" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="belief-2-value">HEALTH CARE</label>
          <div>
            <div style="float: left">Required</div>
            <div style="float: right">Free Market</div>
          </div>
          <input name = "belief-2-value" type="range" min="0" max="10" step="1">
        </div>
        <div class="form-group">
          <label for="belief-2-response">Why do you prefer that system of healthcare, and what do you think are its advantages?</label>
          <textarea class="form-control" name="belief-2-response" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="belief-3-value">GUN CONTROL</label>
          <div>
            <div style="float: left">Less Strict</div>
            <div style="float: right">More Strict</div>
          </div>
          <input name = "belief-3-value" type="range" min="0" max="10" step="1">
        </div>
        <div class="form-group">
          <label for="belief-3-response">What controls, if any, do you think should be implemented?</label>
          <textarea class="form-control" name="belief-3-response" rows="3"></textarea>
        </div>
         <div class="form-group">
          <label for="belief-4-value">FREEDOM OF SPEECH</label>
          <div>
            <div style="float: left">Less Strict</div>
            <div style="float: right">More Strict</div>
          </div>
          <input name = "belief-4-value" type="range" min="0" max="10" step="1">
        </div>
        <div class="form-group">
          <label for="belief-4-response">Explain your position; do you think there are certain types of speech that should be restricted, and if so, what is the line between allowable and not?</label>
          <textarea class="form-control" name="belief-4-response" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="belief-5-value">IMMIGRATION</label>
          <div>
            <div style="float: left">Less Strict</div>
            <div style="float: right">More Strict</div>
          </div>
          <input name = "belief-5-value" type="range" min="0" max="10" step="1">
        </div>
        <div class="form-group">
          <label for="belief-5-response">Describe the type of immigration policies you think would be beneficial and why.</label>
          <textarea class="form-control" name="belief-5-response" rows="3"></textarea>
        </div>      

      </div>
  
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="Sign Up">
        </div>
      </div>
    </div>

  </form>     
      <p>Already have an account? <a href="{{pathFor 'login'}}">Log In</a>.</p>
    
  
</template>
