<template name="welcome">
    <div class="bienvenue">
        <div id="hgrad">
            <div id="bounds">
                <div id="welcome">WELCOME TO</div>
                <img src="img/CONVERSE_Logo_White.png" alt="Converse"/>
                <br/>
                <div id="buttons">
                    <a id="login-page" class="advance" href="{{pathFor 'login'}}">Login</a>
                    <a id="signup-page" class="advance" href="{{pathFor 'signup'}}">Sign Up</a>
                </div>
            </div>
        </div>

        <div class="carousel">
            <h1>ABOUT CONVERSE</h1>
            <!-- <div class="tutorial" style="display:inline;">
            <button id="left" class="carousel-button">&#10094;</button>
            <div class="carousel" style="display:inline;">
            <div class="slides" style="display:block">
            <div class="caption" style="">Browse the profiles of other users with different opinions. You can choose to send them an invite or simply try to match with them. Once both parties accept, discuss!</div>
            <img class="slide-img" src="img/carousel_browse.png" alt="Browse the profiles of other users" style="width:100vh;"/>
            </div>
            <div class="slides" style="display:none">
            <div class="caption">While discussing, view a sidebar of helpful information and recommended topics, to really get the discussion going!</div>
            <img class="slide-img" src="img/carousel_chat.png" alt="Get information about relevant statistics and topics" style="width:100vh;"/>
            </div>
            <div class="slides" style="display:none">
            <div class="caption">When you're done talking, or if you've been having a really great conversation, rate it! Are they a great conversationalist? Let them know! Build reputation by having good conversation. The better your reputation, the more people will want to converse!</div>
            <img class="slide-img" src="img/carousel_feedback.png" alt="Give feedback about your conversation" style="width:100vh;"/>
            </div>
            <div class="slides" style="display:none">
            <div class="caption">Let's get Conversing!</div>
            <img class="slide-img" src="img/CONVERSE Logo Black (Large).png" alt="CONVERSE Logo" style="width:100vh;"/>
            </div>
            <button id="right" class="carousel-button">&#10095;</button>
            </div>
            </div> -->
        </div>
    </div>
</template>
