<template name="welcome">
    <div class="bienvenue">
        <div id="hgrad">
            <div id="bounds">
                <div id="welcome">WELCOME TO</div>
                <img src="img/CONVERSE_Logo_White.png" alt="Converse"/>
                <br/>
                <div id="buttons">
                    <a id="login-page" class="advance" href="{{pathFor 'login'}}">Login</a>
                    <a id="signup-page" class="advance" href="{{pathFor 'signup'}}">Sign Up</a>
                </div>
            </div>
        </div>

        <div class="carousel">
            <h1>ABOUT CONVERSE</h1>
            <span>Get to know people with a different point of view! Converse is an app designed to match people of opposing political viewpoints with the goal of engaging in a conversation. Converse aims to foster understanding and dialogue and encourages users to explore a world outside of their political bubble.</span>
            <div>&nbsp;</div>
            <h3>Create an Account</h3>
            <img name='c-feedback' src="img/carousel_feedback.png" alt="feedback" style="max-width: 75%;"/>
            <h5>Sign up for an account to connect with other users!</h5>
            <div>&nbsp;</div>
            <h3>Browse Users</h3>
            <img name='c-browse' src="img/carousel_browse.png" alt="browse" style="max-width: 75%;"/>
            <h5>Users are matched with you based on topics you disagree with. Scroll through a list of matches and choose one to talk to!</h5>
            <div>&nbsp;</div>
            <h3>Chat</h3>
            <img name='c-chat' src="img/carousel_chat.png" alt="chat" style="max-width: 75%;"/>
            <h5>Start a conversation! Our helpful Conversation Assistant is there to help you if you need inspiration.</h5>
            <div>&nbsp;</div>
        </div>
    </div>
</template>
