<template name="assistant">
  <aside class="assistant" id="assistGrad">

    <h3>Conversation Assistant</h3>
    
    <!-- To apply other profiles, we would want to use variables here insted of hardcoded text -->
      
    <h5> 
        Here is some help to get you started. Based on your profile, we suggest starting the conversation sharing your views on gun contorl.
    </h5>
      
      
    <div class="row">
        <div class="column">
            <h3> Articles </h3>
            <ul>
                <li><a href="https://www.vice.com/en_us/article/gy5ex9/the-leftist-argument-against-gun-control">A left perspective</a></li>
                <li><a href="https://eaglerising.com/48360/we-can-not-coexist-with-people-who-want-to-kill-us/">Guns used to defent against terrorist</a></li>
                <li><a href="http://www.dw.com/en/8-facts-about-gun-control-in-the-us/a-40816418">Gun Control FAQ</a></li>
                <li><a href="https://www.allsides.com/allsides-search-results?search_api_views_fulltext=gun%20control&created=3&submit_x=0&submit_y=0">Allsides.com articles from both sides</a></li>
                
            </ul>
            
        </div>
        <div class="column">
            <h3> Facts </h3>
            <ul>
                <!-- from http://www.justfacts.com/guncontrol.asp -->
                <li>Handguns comprised 52% of all new guns sold to U.S. civilians and law enforcement in 2014</li>
                <li>U.S. civilians use guns to defend themselves and others from crime at least 989,883 times per year</li>
                <li>Americans use guns to frighten away intruders who are breaking into their homes about 498,000 times per year</li>
                <li>Roughly 14,249 murders were committed in the United States during 2014. Of these, about 9,675 or 68% were committed with firearms</li>
            </ul>  
        
        </div>
    </div>
    <div>
        <h3> Watch </h3>
        <div class="videos">
            <div class="vids">
                <iframe width="175" height="175" src="https://www.youtube.com/embed/kRAw3VWVyD8" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="vids"> 
                <iframe width="175" height="175" src="https://www.youtube.com/embed/bX4qUsgHa4Y" frameborder="0" allowfullscreen></iframe>
            </div>
        
        </div>
        
    </div>
    
      
  </aside>
</template>