<template name="browse">
	<!-- {{> sidebar}} -->
  <h1>Browse</h1>
	<ul>
	  {{#each user in users}}
	    <li class="{{user.username}}">
	      <a href="/messages/@{{user.username}}">
	        {{fullName user.profile.name}}
	      </a>
	      <ul>
	      	<li>Location: {{displayInfo user.profile.location}}</li>
	      	<li>Bio: {{displayInfo user.profile.bio}}</li>
	      	<li>Beliefs: {{displayListInfo user.profile.beliefs}}</li>
	      	<li>
	      		Media:
		      	{{#each item in getList user.profile.links}}
			      	<a href="{{item}}">link </a>
			    {{/each}}
			 </li>
	      	<li>
	      		Recently Read:
		      	{{#each item in getList user.profile.recent}}
			      	<a href="{{item}}">link </a>
			    {{/each}}
			 </li>
	      	<li>Badges: {{displayListInfo user.profile.badges}}</li>
	      	<li>Testimonials: {{displayListInfo user.profile.testimonials}}</li>
	      </ul>
	    </li>
	  {{/each}}
	</ul>
</template>
