<template name="header">
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/" style="margin-top: -25px;">
          	<img src="img/CONVERSE Logo Black.png" alt="Converse" height="75" width="150" style=""/>
          </a>
		  <div class="navbar-slogan" style="height:55px; width:500px; padding-top:17px; color: #aaa; margin-left: -15px; font-size:14px;">Get to know people with a different point of view</div>
	    </div>
      {{#if currentUser}}
        {{> authenticatedNavigation}}
      {{else}}
        {{> publicNavigation}}
      {{/if}}
	  </div>
	</nav>
</template>
